* {
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  background: var(--bg);
  display: grid;
  place-items: center;
}
@property --a {
  initial-value: 0deg;
  inherits: false;
  syntax: '<angle>';
}
@property --h {
  initial-value: 0;
  inherits: false;
  syntax: '<number>';
}
.loader {
  padding: 2rem 4rem;
  font-family: monospace;
  font-weight: bold;
  color: rgb(210, 194, 194);
  border-style: solid;
  border-width: 1vmin;
  font-size: 2rem;
  --charge: hsl(var(--h, 0), 80%, 50%);
  -o-border-image: conic-gradient(var(--charge) var(--a), transparent calc(var(--a) + 0.5deg)) 30;
     border-image: conic-gradient(var(--charge) var(--a), transparent calc(var(--a) + 0.5deg)) 30;
  -webkit-animation: load 2s infinite ease-in-out;
          animation: load 2s infinite ease-in-out;
}
@-webkit-keyframes load {
  0%, 10% {
    --a: 0deg;
    --h: 0;
  }
  100% {
    --a: 360deg;
    --h: 100;
  }
}
@keyframes load {
  0%, 10% {
    --a: 0deg;
    --h: 0;
  }
  100% {
    --a: 360deg;
    --h: 100;
  }
}




body {
  font-family: 'Courier New', Courier, monospace !important;
  text-align: center;
  margin: 0 20px;
  padding: 50px 0;
  background: rgb(182, 228, 255);
}

h1{
  width: 900px;
  margin: 0 auto;
  padding: 0;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #fff;
  text-align: center;

}

ul{
  width: 900px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

li{
  padding: 20px;
  margin-top: 50px;
  background: #fff;
  list-style: none;
  width: 32%;
  box-sizing: border-box;
  border: 5px solid rgb(191, 232, 232);
}

li:hover {
  background-color:rgb(201, 231, 231);
}

li img{
  width: 130px;
  border-radius: 50%;
  border: 4px solid rgb(140, 41, 143);
}

li a{
  text-decoration: none;
}

.btn{
  width: 60px;
  background: rgb(20, 130, 220);
  color: #fff;
  padding: 10px;
  font-size: 16px;
  border-radius: 13%;
  font-weight: 600;
  cursor: pointer;
}

.btn:hover{
  width: 61px;
  background: rgb(135, 11, 142);
  color: #fff;
  padding: 10px;
  font-size: 16px;
  border-radius: 13%;
  font-weight: 700;
  cursor: pointer;
}

@media  screen and (max-width: 946px) {
  ul{
      width: 100%;
  }
  li{
      width: calc(50% - 5px);
      background-color: rgb(245, 245, 245);
      margin-top: 20px;
  }
  h1{
    width: 100%;
    margin: 0 auto;
    padding: 0;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #fff;
    text-align: center;
  
  }
}

@media  screen and (max-width: 500px) {
  ul{
      width: 100%;
  }
  li{
      width: calc(100% - 5px);
      background-color: rgb(245, 245, 245);
      margin-top: 20px;
  }
  h1{
    width: 100%;
    margin: 0 auto;
    padding: 0;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #fff;
    text-align: center;
  
  }
}

body {
  background: linear-gradient(
    315deg,
    rgba(101, 0, 94, 1) 3%,
    rgba(60, 132, 206, 1) 38%,
    rgba(48, 238, 226, 1) 68%,
    rgba(255, 25, 25, 1) 98%
  );
  animation: gradient 15s ease infinite;
  background-size: 400% 400%;
  background-attachment: fixed;
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.wave {
  background: rgb(255 255 255 / 25%);
  border-radius: 1000% 1000% 0 0;
  position: fixed;
  width: 200%;
  height: 12em;
  animation: wave 10s -3s linear infinite;
  transform: translate3d(0, 0, 0);
  opacity: 0.8;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.wave:nth-of-type(2) {
  bottom: -1.25em;
  animation: wave 18s linear reverse infinite;
  opacity: 0.8;
}

.wave:nth-of-type(3) {
  bottom: -2.5em;
  animation: wave 20s -1s reverse infinite;
  opacity: 0.9;
}

@keyframes wave {
  2% {
    transform: translateX(1);
  }

  25% {
    transform: translateX(-25%);
  }

  50% {
    transform: translateX(-50%);
  }

  75% {
    transform: translateX(-25%);
  }

  100% {
    transform: translateX(1);
  }
}
